@use 'globals' as *;
@use "sass:math";

@import '../../../stylesheets/colors';
@import '../../../stylesheets/variables';

.quick-stats-bar {
  display: flex;
  align-content: center;
  @include font-size-xs;
  color: color-mix(in srgb, var(--color-raven), white 20%);
  background: rgba(var(--color-raven-rgb), 0.1);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.quick-stats-bar__stat {
  padding: math.div($global-spacing, 1.5) $global-spacing * 1.5;
  display: flex;
  align-content: center;
  position: relative;
  justify-content: center;
  flex: 1 1 auto;
  white-space: nowrap;
  margin: auto 0;

  & > * {
    margin: auto 0;
  }

  &:not(:first-of-type)::before {
    content: '';
    width: 1px;
    height: 60%;
    position: absolute;
    background: rgba(0, 0, 0, 0.05);
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
  }


}

.quick-stats-bar__stat--optional {
  @media screen and (max-width: 48em) {
    display: none;
  }

  @media screen and (max-width: 40em) {
    display: none;
  }
}

.quick-stats-bar__stat--description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  flex-grow: 1;

  @media screen and (max-width: 40em) {
    display: none;
  }
}

.quick-stats-bar__stat--description-content {
  margin-left: $global-spacing;
}

.quick-stats-bar__stat-icon {
  margin-right: $global-spacing;
}

.quick-stats-bar__logo-icon {
  vertical-align: middle;

  &.quick-stats-bar__logo-icon--npm {
    width: 36px;
  }

  &.quick-stats-bar__logo-icon--github {
    height: 18px;
    width: 18px;
  }

  path {
    transition: fill 0.2s;
    fill: color-mix(in srgb, var(--color-raven), white 15%);
  }
}

.quick-stats-bar__link {
  margin: auto $global-spacing * 0.5;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    .quick-stats-bar__logo-icon--github {
      opacity: 1;
    }
    .quick-stats-bar__logo-icon--npm {
      path {
        fill: #cb3837;
      }
    }
  }
}

.quick-stats-bar__right {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: $global-spacing;
}
