@import '../../../stylesheets/colors';
@import '../../../stylesheets/variables';

.warning-bar {
  @include font-size-xs;
  background: color-mix(in srgb, var(--color-dandelion), white 5%);
  padding: $global-spacing * 0.5 $global-spacing;
  border-radius: 4px;
  margin-top: 2vh;
  color: color-mix(in srgb, var(--color-dandelion), black 60%);

  a {
    @include font-size-xxs;
    color: inherit;
    font-weight: $font-weight-bold;
    opacity: 0.8;
    padding-left: $global-spacing;
    text-transform: uppercase;
  }
}
