@import '../../../stylesheets/colors';
@import '../../../stylesheets/variables';

.bar-graph__bar-version {
  @include font-size-xs;
  z-index: 33;
  font-weight: $font-weight-light;
  transform: rotate(-90deg);
  transform-origin: center center;
  font-variant-numeric: tabular-nums;
  color: color-mix(in srgb, var(--color-raven), white 15%);
  transition: opacity 0.2s, color 0.2s;
  font-family: $font-family-code;
  letter-spacing: -0.5px;
  line-height: 1;
  cursor: pointer;
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -$global-spacing * 4;
  left: 0;

  .bar-graph-container:hover & {
    color: $raven;
  }

  .bar-graph__bar-group:hover & {
    color: color-mix(in srgb, var(--color-raven), black 20%);
  }
}
